*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight: normal;
}

*:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.border_left {
	border-bottom-left-radius: 10px;
}

.border_right {
	border-bottom-right-radius: 10px;
	background-color: #f49d1c;
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #2e2e2e, #6e1a07);
}

.calculator_grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(7, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator_grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid rgb(62, 62, 62);
	outline: none;
	/* background-color: rgba(212, 210, 210, 0.768); */
	color: rgb(255, 254, 254);
	user-select: none;
}

.bg_orange {
	background-color: rgba(227, 152, 56, 0.75);
}

.bg_black {
	background-color: rgba(85, 86, 87, 0.75);
}

.bg_grey {
	background-color: rgba(142, 142, 142, 0.75);
}

.calculator_grid > button:hover {
	filter: brightness(150%);
}

.calculator_grid > button:active {
	filter: brightness(80%);
}

.span_two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .calc_memory {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
}

.output .previous_operand {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
}

.output .current_operand {
	color: white;
	font-size: 2.5rem;
}
