body {
	background-color: #8e8e8e;
}

.calc {
	display: flex;
	flex-direction: column;
	margin: 200px auto;
	width: 600px;
	/* height: 400px; */
	border-radius: 10px;
	background-color: #444546;
	color: #fff;
	font-family: Arial;
	box-shadow: 5px 10px 35px 1px #000000;
}

.btn {
	width: 100%;
	height: 100%;
	background: #48494a;
	text-align: center;
	line-height: 50px;
	font-size: 1.5rem;
	cursor: pointer;
	user-select: none;
}

.btn.zero {
	grid-area: zero;
	width: 100%;
}

.calc_screen {
	height: 72px;
	padding: 10px;
	display: grid;
	justify-items: end;
	align-items: end;
	margin-right: 5px;
}

.calc_screen {
	text-align: right;
	font-size: 4rem;
	margin: 0;
}

.buttons {
	display: flex;
	flex-direction: row;
}

.btn:hover {
	filter: brightness(120%);
}

.btn:active {
	filter: brightness(90%);
}

.btn.bg-grey {
	background: #8e8e8e;
}

.btn.bg-orange {
	background: #e39838;
}

.btn.bg-black {
	background: #555657;
}

.right_buttons {
	flex: 1;
	display: grid;
	grid-template-areas:
		'ac plus-minus percent division'
		'seven eight nine multiply'
		'four five six minus'
		'one two three plus'
		'zero zero dot equals';
	grid-gap: 1px;
	justify-items: right;
}

.left_buttons {
	flex: 1;
	display: grid;
	grid-template-areas:
		'memory_plus memory_clear memory_clear'
		'memory_minus memory_read memory_read'
		'square cube xpow_y'
		'tenpow_x onedivide_x factorial'
		'square_root cube_root y_root';
	grid-gap: 1px;
	justify-items: left;
	padding-right: 1px;
}

.btn.memory_clear {
	grid-area: memory_clear;
	width: 100%;
}

.btn.memory_read {
	grid-area: memory_read;
	width: 100%;
}

.btn.equals {
	border-bottom-right-radius: 10px;
}

.btn.square_root {
	border-bottom-left-radius: 10px;
}
